@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #1e1f22;
    color: white;

}

@layer utilities {
    .text-outline {
        text-shadow:
            1px 1px 0 #ffffff,
            -1px -1px 0 #ffffff,
            1px -1px 0 #ffffff,
            -1px 1px 0 #ffffff;
    }
}